.DeckerBoard{
    width: 500px;
    height: 600px;
    background-color: rgb(3, 65, 3);
}

.DeckerImg{
    margin-top: 45px;
}

.DeckerBTN{
    margin: 10px;
    height: 30px;
    width: 100px;
    font-weight: bolder;
    background-color: blue;
    color: white;
}